.bg-white {
  background-color: #fff;
}

.list-style-none {
  list-style: none;
}

/* --== Custom padding/margin ==-- */
.pt-6, .py-6 {
  padding-top: 4rem !important;
}

.pb-6, .py-6 {
  padding-bottom: 4rem !important;
}

.pt-7, .py-7 {
  padding-top: 5rem !important;
}

.pb-7, .py-7 {
  padding-bottom: 5rem !important;
}

.yellow-border-text-bottom {
  position: relative;
  -webkit-align-self: self-start;
      -ms-flex-item-align: self-start;
          align-self: self-start;
  margin-bottom: 35px;
}

.yellow-border-text-bottom:after {
  content: '';
  position: absolute;
  border-bottom: 3px solid #fccd1a;
  width: 60px;
  position: absolute;
  margin: auto;
  top: 50px;
  left: 0;
  bottom: 0;
  right: 0;
}

.white-border-text-bottom {
  position: relative;
  -webkit-align-self: self-start;
      -ms-flex-item-align: self-start;
          align-self: self-start;
  margin-bottom: 35px;
}

.white-border-text-bottom:after {
  content: '';
  position: absolute;
  border-bottom: 3px solid #fff;
  width: 60px;
  position: absolute;
  margin: auto;
  top: 50px;
  left: 0;
  bottom: 0;
  right: 0;
}

.angel-link {
  color: #fccd1a;
  font-size: 25px;
  vertical-align: middle;
}

.color-icon {
  color: #fccd1a;
}

.underline-color {
  -webkit-text-decoration-color: #fccd1a !important;
          text-decoration-color: #fccd1a !important;
  color: #000;
}

.underline-color:hover {
  color: #000;
}

.underline-color:visited {
  color: #656565;
}

.text-silver {
  color: #b2b2b2;
}

.position-cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.more-link, .link-buy-products {
  background: #1b1b1b;
  padding: 3px 50px 5px;
  display: inline-block;
  color: #fff !important;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.more-link:hover, .link-buy-products:hover {
  text-decoration: none;
  color: #1b1b1b !important;
  background-color: #fccd1a;
}

.more-link:after, .link-buy-products:after {
  content: "\f105";
  font-family: FontAwesome;
  position: relative;
  right: -20px;
  color: #fccd1a;
  font-size: 22px;
}

.more-link:hover:after, .link-buy-products:hover:after {
  color: #000;
}

.bulleted-list {
  line-height: 2.3;
}

.bulleted-list li:before {
  content: '\f00c';
  font-family: FontAwesome;
  background-color: #fccd1a;
  padding: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  width: 25px;
  height: 25px;
  -webkit-border-radius: 500px;
          border-radius: 500px;
  vertical-align: middle;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.numbered-list {
  line-height: 2.3;
}

.numbered-list li:before {
  content: counter(li);
  counter-increment: li;
  background-color: #fccd1a;
  padding: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  width: 25px;
  height: 25px;
  -webkit-border-radius: 500px;
          border-radius: 500px;
  vertical-align: middle;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.circle-text, .video-block .video-button {
  width: 120px;
  height: 120px;
  -webkit-border-radius: 500px;
          border-radius: 500px;
  vertical-align: middle;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 700;
  color: #000;
  background-color: #fccd1a;
  font-size: 21px;
}

.link-buy-products {
  background: #fccd1a;
  color: #000 !important;
  border-bottom: 4px solid transparent;
}

.link-buy-products:hover {
  border-bottom: 4px solid #feb50f;
}

.link-buy-products:after {
  color: #000 !important;
}

/* --== Embed Style ==-- */
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.vh-80 {
  min-height: 80vh;
}

.container-large {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.grey-block {
  background-color: #333333;
}

i.mce-i-icon {
  font: 400 20px/1 dashicons;
  padding: 0;
  vertical-align: top;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: -2px;
  padding-right: 2px;
}

.blockquote-posts {
  padding: 30px;
  padding-top: 40px;
  background-color: #f8f8f8;
  color: #fff;
  position: relative;
  border-left: 3px solid #fccd1a;
}

.blockquote-posts:before {
  content: '\f10e';
  font-family: FontAwesome;
  position: absolute;
  top: 10px;
  left: 20px;
  color: #fccd1a;
  font-size: 20px;
}

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

header {
  z-index: 10;
}

.main-header {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.main-header nav {
  min-height: 70px;
}

p {
  margin: 1rem 0;
}

#navbarSupportedContent {
  max-width: 565px;
}

#navbarSupportedContent .header-main-menu {
  list-style: none;
  margin: 0;
}

#navbarSupportedContent .header-main-menu li {
  padding: 25px 20px;
}

#navbarSupportedContent .header-main-menu li a {
  display: inline-block;
  border-bottom: 4px solid #fff;
  color: #000;
  position: relative;
  padding: 0 5px;
}

#navbarSupportedContent .header-main-menu li a:hover {
  text-decoration: none;
}

#navbarSupportedContent .header-main-menu li a:hover:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  top: 49px;
  left: 0;
  height: 4px;
  background-color: #fccd1a;
}

#navbarSupportedContent .header-main-menu .current-menu-link-item:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  top: 49px;
  left: 0;
  height: 4px;
  background-color: #fccd1a;
}

.main-footer {
  background-color: #1b1b1b;
}

.footer-main-menu {
  border-bottom: 2px solid #393939;
}

.footer-main-menu li a {
  color: #fff;
  margin: 0 20px;
}

.footer-main-menu li a:hover {
  color: #fccd1a;
  text-decoration: none;
}

.footer-info-wrapper p {
  color: #686868;
}

.footer-info-wrapper .privacy-list a {
  color: #686868;
}

.footer-info-wrapper .privacy-list .sep {
  color: #686868;
  margin: 0 8px;
}

.footer-info-wrapper .social-networks li {
  margin: 0 5px;
}

.footer-info-wrapper .social-networks li:last-child {
  margin-right: 0;
}

.footer-info-wrapper .social-networks li a {
  color: #fccd1a;
  border: 2px solid #fccd1a;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 36px;
  height: 36px;
  -webkit-border-radius: 500px;
          border-radius: 500px;
  vertical-align: middle;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .1s ease-in-out;
  -o-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
  -webkit-transition-property: color, background-color;
  -o-transition-property: color, background-color;
  transition-property: color, background-color;
}

.footer-info-wrapper .social-networks li a:hover {
  text-decoration: none;
  background-color: #fccd1a;
  color: #000;
}

/* --== WP WYSIWYG Editor Styles ==-- */
.entry-content img {
  margin: 0 0 1.5em 0;
}

.alignleft, img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left;
}

.alignright, img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right;
}

.aligncenter, img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both;
}

.alignnone, img.alignnone {
  /* not sure about this one */
}

.wp-caption {
  margin-bottom: 1.5em;
  text-align: center;
  padding-top: 5px;
}

.wp-caption img {
  border: 0 none;
  padding: 0;
  margin: 0;
}

.wp-caption p.wp-caption-text {
  line-height: 1.5;
  font-size: 10px;
  margin: 0;
}

.wp-smiley {
  margin: 0 !important;
  max-height: 1em;
}

blockquote.left {
  margin-right: 20px;
  text-align: right;
  margin-left: 0;
  width: 33%;
  float: left;
}

blockquote.right {
  margin-left: 20px;
  text-align: left;
  margin-right: 0;
  width: 33%;
  float: right;
}

/* --== /WP WYSIWYG Editor Styles ==-- */
/* --== Front Page ==-- */
#carouselExampleIndicators .carousel-indicators {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#carouselExampleIndicators .carousel-indicators li {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 12px !important;
  height: 12px !important;
  border: 2px solid #fff;
  background-color: transparent;
  margin-right: 15px;
}

#carouselExampleIndicators .carousel-indicators li.active {
  width: 15px !important;
  height: 15px !important;
  background-color: #fccd1a;
  border: 2px solid #fccd1a;
}

#carouselExampleIndicators .carousel-inner .carousel-item {
  height: 600px;
}

#carouselExampleIndicators .carousel-inner .carousel-item:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

#carouselExampleIndicators .carousel-inner .carousel-item .carousel-caption {
  top: 30%;
}

#carouselExampleIndicators .carousel-inner .carousel-item .carousel-caption h3 {
  font-size: 50px;
  text-transform: uppercase;
  max-width: 920px;
  margin: 0 auto;
  color: #fff;
}

#carouselExampleIndicators .carousel-inner .carousel-item .carousel-caption h3.with-line {
  color: #fccd1a;
  position: relative;
}

#carouselExampleIndicators .carousel-inner .carousel-item .carousel-caption h3.with-line:before {
  content: '';
  position: absolute;
  height: 3px;
  width: 60px;
  position: absolute;
  background-color: #fccd1a;
  top: 30px;
  left: 200px;
  bottom: 0;
  right: 0;
}

#carouselExampleIndicators .carousel-inner .carousel-item .carousel-caption p {
  margin-top: 25px;
  font-size: 20px;
}

#carouselExampleIndicators .carousel-inner .carousel-item .carousel-caption .get-quote-btn {
  height: 50px;
  width: 250px;
  background-color: #fccd1a;
  text-transform: uppercase;
  -webkit-border-radius: 0;
          border-radius: 0;
  position: relative;
  margin: 10px auto 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#carouselExampleIndicators .carousel-inner .carousel-item .carousel-caption .get-quote-btn a {
  color: #1b1b1b;
  text-decoration: none;
  outline: none;
  font-size: 20px;
  font-weight: 600;
}

#carouselExampleIndicators .carousel-inner .carousel-item .carousel-caption .get-quote-btn .fa {
  margin: 0 20px;
  font-size: 1.6em;
}

#carouselExampleIndicators .carousel-control-prev {
  opacity: 1;
}

#carouselExampleIndicators .carousel-control-prev .carousel-control-prev-icon {
  background-image: none;
}

#carouselExampleIndicators .carousel-control-prev .carousel-control-prev-icon:before {
  content: "\f104";
  font-family: FontAwesome;
  font-size: 2em;
  color: #fff;
  padding: 10px 20px;
  border: 2px solid #fccd1a;
}

#carouselExampleIndicators .carousel-control-prev .carousel-control-prev-icon:hover:before {
  content: "\f104";
  font-family: FontAwesome;
  font-size: 2em;
  color: #1b1b1b;
  background-color: #fccd1a;
  padding: 10px 20px;
  border: 2px solid #fccd1a;
}

#carouselExampleIndicators .carousel-control-next {
  opacity: 1;
}

#carouselExampleIndicators .carousel-control-next .carousel-control-next-icon {
  background-image: none;
}

#carouselExampleIndicators .carousel-control-next .carousel-control-next-icon:before {
  content: "\f105";
  font-family: FontAwesome;
  font-size: 2em;
  color: #fff;
  padding: 10px 20px;
  border: 2px solid #fccd1a;
}

#carouselExampleIndicators .carousel-control-next .carousel-control-next-icon:hover:before {
  content: "\f105";
  font-family: FontAwesome;
  font-size: 2em;
  color: #1b1b1b;
  background-color: #fccd1a;
  padding: 10px 20px;
  border: 2px solid #fccd1a;
}

.occupation-section {
  background-color: #1b1b1b;
}

.occupation-section .occupation-item {
  background-color: #333333;
  border-top: 3px solid #fccd1a;
  color: #fff;
}

.occupation-section .occupation-item h2 {
  color: #fccd1a;
}

.our-different {
  background-color: #fccd1a;
}

.our-different .white-border-text:after {
  border-bottom: 3px solid #fff;
}

.our-different .our_difference_big_text {
  font-size: 42px;
  line-height: 1.3em;
}

.our-different .our_difference_link {
  margin-top: 25px;
}

.our-different .our_difference_link:hover {
  background-color: #fff;
}

.video-block {
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  position: relative;
}

.video-block:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.video-block .video-button {
  width: 100px;
  height: 100px;
}

.video-block .video-button i {
  color: #000;
  font-size: 30px;
  padding: 5px 0 0 5px;
}

.video-block .video-button:hover {
  background-color: #e0b203;
}

.video-block .modal-content {
  background-color: transparent;
  border: 0;
}

.video-block .modal-header {
  border: 0;
}

.video-block .button-close {
  color: #fff;
}

.video-block .video-play-pause {
  background-color: #fccd1a;
}

.modal-video-medium {
  max-width: 800px;
}

.customers-section {
  background-color: #f8f8f8;
}

.customers-section .customers-logo-item {
  margin-bottom: 10px;
}

.customers-section .customers-logo-item img {
  display: inline-block;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.customers-section .customers-logo-item a:hover img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.reviews-section .review-slider .carousel-inner {
  overflow: visible;
}

.reviews-section .review-slider .review-prev, .reviews-section .review-slider .review-next {
  color: #000;
  width: 35px;
  height: 35px;
  border: 2px solid #fccd1a;
}

.multirow {
  background-color: #f8f8f8;
}

.multirow:nth-child(even) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.multirow:nth-child(even) .multirow-item {
  margin-left: auto !important;
  position: relative;
}

.multirow:nth-child(even) .multirow-item:before {
  content: '';
  position: absolute;
  top: 170px;
  right: -25px;
  border-style: solid;
  border-width: 35px 0 35px 25px;
  border-color: transparent transparent transparent #f8f8f8;
}

.multirow:nth-child(odd) .multirow-item {
  position: relative;
}

.multirow:nth-child(odd) .multirow-item:before {
  content: '';
  position: absolute;
  top: 170px;
  left: -25px;
  border-style: solid;
  border-width: 35px 25px 35px 0;
  border-color: transparent #f8f8f8 transparent transparent;
}

.multirow .products-image-thumbnail {
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  min-height: 300px;
  height: 100%;
  position: relative;
}

.multirow .products-image-thumbnail:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.pricing-section {
  background-color: #1c1c1c;
}

.pricing-section .pricing-item {
  background-color: #fff;
  border-left: 3px solid #fccd1a;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.pricing-section .pricing-item:hover {
  -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
          transform: translateY(-20px);
}

/* --== /Front Page ==-- */
.tag-posts i {
  color: #fccd1a;
}

.tag-posts .tag-news-item a {
  display: inline-block;
  padding: 5px 15px;
  color: #b2b2b2;
  border: 2px solid #525252;
}

.tag-posts .tag-news-item a:hover {
  text-decoration: none;
  border: 2px solid #fccd1a;
}

/* --== Single News ==-- */
.single-news blockquote {
  padding: 20px;
  padding-top: 40px;
  background-color: #f8f8f8;
  color: #fff;
  border-left: 3px solid #fccd1a;
  position: relative;
}

.single-news blockquote:before {
  position: absolute;
  left: 0;
}

.back-link a {
  color: #000;
}

.back-link a:hover {
  -webkit-text-decoration-color: #fccd1a;
          text-decoration-color: #fccd1a;
}

.tags-social-posts {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  padding: 30px 0;
}

/* --== /Single News ==-- */
/* --== Contact Page ==-- */
.contact-information {
  background-image: url("../images/contact-information.jpg");
  height: 100%;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: left;
  min-height: 200px;
  position: relative;
}

.contact-information:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.contact-information .contact-info-wrap {
  padding: 70px 80px;
  z-index: 1;
  color: #fff;
}

.contact-information .contact-info-wrap .list-group-wrap {
  max-width: 320px;
  margin: 0 auto;
}

.contact-information .contact-info-wrap .list-group-wrap .list-group {
  list-style-type: none;
}

.contact-information .contact-info-wrap .list-group-wrap .list-group li {
  position: relative;
  margin: 10px;
}

.contact-information .contact-info-wrap .list-group-wrap .list-group li a {
  color: #fff;
  font-size: 18px;
}

.contact-information .contact-info-wrap .list-group-wrap .list-group li a.site:before {
  content: '';
  position: absolute;
  top: -1px;
  left: -45px;
  height: 34px;
  width: 34px;
  background: url("../images/css_sprites.png") -10px -10px;
}

.contact-information .contact-info-wrap .list-group-wrap .list-group li a.mail:before {
  content: '';
  position: absolute;
  top: 5px;
  left: -45px;
  width: 31px;
  height: 23px;
  background: url("../images/css_sprites.png") -112px -10px;
}

.contact-information .contact-info-wrap .list-group-wrap .list-group li a.phone:before {
  content: '';
  position: absolute;
  top: -1px;
  left: -42px;
  height: 28px;
  width: 28px;
  background: url("../images/css_sprites.png") -64px -10px;
}

.contact-information .contact-info-wrap .list-group-wrap .list-group li a.map:before {
  content: '';
  position: absolute;
  top: -2px;
  left: -42px;
  width: 25px;
  height: 40px;
  background: url("../images/css_sprites.png") -10px -64px;
}

.contact-information .contact-info-wrap .list-group-wrap .send-request-btn {
  height: 50px;
  width: 250px;
  background-color: #fccd1a;
  text-transform: uppercase;
  -webkit-border-radius: 0;
          border-radius: 0;
  position: relative;
  margin: 10px auto 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contact-information .contact-info-wrap .list-group-wrap .send-request-btn a {
  color: #1b1b1b;
  text-decoration: none;
  outline: none;
  font-size: 20px;
  font-weight: 600;
}

.contact-information .contact-info-wrap .list-group-wrap .send-request-btn .fa {
  margin: 0 20px;
  font-size: 1.6em;
}

.contact-us-form {
  padding: 70px 60px;
  color: #1b1b1b;
}

.contact-us-form .form-group .contact-form {
  -webkit-border-radius: 0;
          border-radius: 0;
  height: 50px;
  padding: 13px;
}

.contact-us-form .form-group .contact-form.message {
  height: 110px;
}

.contact-us-form .form-group .contact-form:focus {
  border-color: #fccd1a;
  -webkit-box-shadow: 0 0 2px #fccd1a;
          box-shadow: 0 0 2px #fccd1a;
}

.contact-us-form .form-group .form-check {
  margin-bottom: 5px;
  padding-left: 30px;
}

.contact-us-form .form-group .form-check .checkbox-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.contact-us-form .form-group .form-check .form-check-input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  border: 1px solid #ced4da;
  padding: 9px;
  -webkit-border-radius: 0;
          border-radius: 0;
  display: inline-block;
  position: absolute;
  top: -3px;
  left: 20px;
}


.form-check-input input[type="checkbox"] {
  display:none;
}

.contact-us-form .form-group  input[type="checkbox"] + label {
  color:#f2f2f2;
}

.contact-us-form .form-group .form-check-input input[type="checkbox"] + label span {
  display:inline-block;
  width:19px;
  height:19px;
  margin:-2px 10px 0 0;
  vertical-align:middle;
  background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) left top no-repeat;
  cursor:pointer;
}
.rounded-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%!important;
}
.contact-us-form .form-group .form-check-input input[type="checkbox"]:checked + label span {
  background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -19px top no-repeat;
}
.contact-us-form .form-group .contact-us-form .form-group .form-check .form-check-input:focus {
  outline: none;
}

.contact-us-form .form-group .form-check .form-check-input:checked {
  background-color: #fccd1a;
  border: 1px solid #fccd1a;
  outline: none;
}


.contact-us-form .form-group .form-check .form-check-input:checked:after {
  content: '\2714';
  font-size: 15px;
  position: absolute;
  top: -2px;
  left: 3px;
  color: #1b1b1b;
}

.contact-us-form .contact-btn {
  height: 50px;
  width: 250px;
  background-color: #1b1b1b;
  color: #fff;
  text-transform: uppercase;
  -webkit-border-radius: 0;
          border-radius: 0;
  position: relative;
  margin-top: 10px;
}

.contact-us-form .contact-btn:after {
  content: '';
  position: absolute;
  top: 16px;
  right: 40px;
  width: 10px;
  height: 17px;
  background: url("../images/css_sprites.png") -10px -124px;
}

/* --== /Contact Page ==-- */
/* --== Archive News ==-- */
.link-read-more {
  padding: 15px 30px;
  border: 3px solid #000;
  color: #000;
}

.link-read-more:visited {
  color: #000;
  text-decoration: underline;
}

.link-read-more:hover {
  border: 3px solid #fccd1a;
  color: #000;
  text-decoration: none;
}

.posts-pagination li {
  margin: 5px;
  font-weight: 700;
}

.posts-pagination li a, .posts-pagination li span {
  display: inline-block;
  border: 1px solid #000;
  padding: 7px 15px;
  cursor: pointer;
  color: #000;
}

.posts-pagination li a:hover {
  background-color: #fccd1a;
  border: 1px solid #fccd1a;
  border-bottom: 3px solid #fcb801;
  color: #000;
  text-decoration: none;
}

.posts-pagination li span.current {
  border: 2px solid #fccd1a;
}

.posts-pagination li span.disabled {
  color: #b2b2b2;
  border: 1px solid #b2b2b2;
}

.posts-pagination li .dots {
  border: 0;
  padding: 0;
}

/* --== /Archive News ==-- */
/* --== Widget News ==-- */
.blog-widget-area section.widget-item {
  background-color: #333333;
  padding: 20px;
  color: #fff;
}

.blog-widget-area section.widget-item .tagcloud a {
  color: #b2b2b2;
  font-size: 16px !important;
  border: 1px solid #525252;
  display: inline-block;
  padding: 1px 12px;
  margin: 0 5px 10px 0;
}

.blog-widget-area section.widget-item .tagcloud a:hover {
  border: 1px solid #fccd1a;
  text-decoration: none;
}

.blog-widget-area section.widget-item .rpwe-ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.blog-widget-area section.widget-item .rpwe-ul li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  border-bottom: 1px solid #525252;
  margin-bottom: 10px;
}

.blog-widget-area section.widget-item .rpwe-ul li time {
  color: #b2b2b2;
  font-size: 14px;
  margin-bottom: 4px;
}

.blog-widget-area section.widget-item .rpwe-ul li h3 {
  font-size: 19px;
}

.blog-widget-area section.widget-item .rpwe-ul li a {
  color: #fff;
}

.blog-widget-area section.widget-item .rpwe-ul li a:hover {
  color: #fccd1a;
}

.blog-widget-area .widget-title {
  color: #fccd1a;
  font-size: 23px;
  margin-bottom: 25px;
}

/* --== /Widget News ==-- */
/* --== Portfolio Archvie ==-- */
.portfolio-card {
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.portfolio-card:hover {
  -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
          transform: translateY(-20px);
}

.portfolio-card h2 {
  font-size: 20px;
}

.portfolio-card .card-body {
  background-color: #221e19;
  color: #fff;
}

/* --== /Products Archive ==-- */
/* --== Reviews Single ==-- */
.reviews-item h3 {
  font-size: 18px;
}

/* --== /Reviews Single ==-- */
/* --== All single-page list style ==-- */
.single-content ul {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 2.3;
}

.single-content ul li:before {
  content: '\f00c';
  font-family: FontAwesome;
  background-color: #fccd1a;
  padding: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  width: 25px;
  height: 25px;
  -webkit-border-radius: 500px;
          border-radius: 500px;
  vertical-align: middle;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.single-content ol {
  counter-reset: li;
  list-style: none;
  *list-style: decimal;
  padding: 0;
  margin: 0;
  line-height: 2.3;
}

.single-content ol li:before {
  content: counter(li);
  counter-increment: li;
  background-color: #fccd1a;
  padding: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  width: 25px;
  height: 25px;
  -webkit-border-radius: 500px;
          border-radius: 500px;
  vertical-align: middle;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* --== /All single-page list style ==-- */
/* --== /Contact Page ==-- */
@media only screen and (max-width: 1200px) {
  .contact-information .contact-info-wrap {
    padding: 70px 20px;
  }
  .contact-us-form {
    padding: 70px 20px;
  }
}

@media only screen and (max-width: 992px) {
  .header-main-menu li {
    width: 100%;
  }
  .header-main-menu li a {
    width: 100%;
    text-align: center;
  }
  .header-main-menu .current-menu-item {
    border: 0;
    background-color: rgba(252, 205, 26, 0.5);
  }
}

@media only screen and (min-width: 576px) {
  .customers-logo-item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333333%;
        -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .container-large {
    max-width: 540px;
  }
}

@media only screen and (min-width: 768px) {
  .customers-logo-item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .container-large {
    max-width: 720px;
  }
}

@media only screen and (max-width: 767px) {
  .multirow .multirow-item:before {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .customers-logo-item {
    -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 100%;
  }
  .container-large {
    max-width: 960px;
  }
}

@media only screen and (min-width: 1200px) {
  .container-large {
    max-width: 1600px;
  }
}

@media only screen and (max-width: 576px) {
  .customers-logo-item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .footer-main-menu li {
    margin-bottom: 10px;
  }
}


/* --== /All single-page list style ==-- */
/* --== Products Page ==-- */
.products-header {
  min-height: 65vh;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.products-header:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.section-connect {
  background-color: #333;
}

.two-logo-wrapper :nth-child(odd) {
  margin-left: auto;
}

.two-logo-wrapper :nth-child(even) {
  margin-right: auto;
}

.products-multirow {
  background-color: #f8f8f8;
}

.products-multirow:nth-child(even) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  background-color: #fff;
}

.products-multirow:nth-child(even) .products-multirow-image {
  margin-right: auto !important;
}

.products-multirow:nth-child(even) .multirow-start-end {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.products-multirow:nth-child(odd) .products-multirow-image {
  margin-left: auto !important;
}

.what-is-new-section {
  background-color: #fccd1a;
}

.accordion-section {
  background-color: #333333;
}

[data-toggle="collapse"] .fa:before {
  content: "\f056";
  font-size: 24px;
  vertical-align: middle;
}

[data-toggle="collapse"].collapsed .fa:before {
  content: "\f055";
  font-size: 24px;
  vertical-align: middle;
}

.accordion-wrapper .card {
  border: 0;
  margin-bottom: 10px;
  background-color: transparent;
  color: #fff;
}

.accordion-wrapper .card .collapsed {
  background-color: transparent;
}

.accordion-wrapper .card-header {
  background-color: transparent;
  padding: 0;
  border: 2px solid #fccd1a;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #fff;
}

.accordion-wrapper .card-header i {
  color: #fccd1a;
  margin-right: 10px;
}

.accordion-wrapper .card-header button {
  color: #fff;
  text-transform: uppercase;
  -webkit-border-radius: 0;
  border-radius: 0;
  white-space: normal;
  text-align: left;
}

.accordion-wrapper .card-header button:hover {
  text-decoration: none;
}

.accordion-wrapper .card-header [data-toggle="collapse"].collapsed {
  background-color: #fccd1a;
  width: 100%;
  text-align: left;
  color: #000;
}

.accordion-wrapper .card-header [data-toggle="collapse"].collapsed i {
  color: #000;
}

.reviews-item-product:nth-child(even) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  text-align: right;
}

.download-button {
  display: inline-block;
  border: 2px solid #fccd1a;
  padding: 10px 30px;
  color: #fff !important;
  margin-bottom: 15px;
}

.download-button:before {
  content: "\f019";
  font-family: FontAwesome;
  color: #fccd1a;
  margin-right: 10px;
}

.download-button:hover {
  border: 2px solid #ae8a02;
  text-decoration: none;
  color: #fff;
}

.buy-button {
  display: inline-block;
  background-color: #fccd1a;
  padding: 10px 30px;
  color: #000 !important;
}

.buy-button:hover {
  text-decoration: none;
  background-color: #e0b203;
}

/* --== /Products Page ==-- */
/* --== /Contact Page ==-- */
@media only screen and (max-width: 1200px) {
  .contact-information .contact-info-wrap {
    padding: 70px 20px;
  }
  .contact-us-form {
    padding: 70px 20px;
  }
}

@media only screen and (max-width: 992px) {
  .header-main-menu li {
    width: 100%;
  }
  .header-main-menu li a {
    width: 100%;
    text-align: center;
  }
  .header-main-menu .current-menu-item {
    border: 0;
    background-color: rgba(252, 205, 26, 0.5);
  }
}

@media only screen and (min-width: 576px) {
  .customers-logo-item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333333%;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .container-large {
    max-width: 540px;
  }
}

@media only screen and (min-width: 768px) {
  .customers-logo-item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .container-large {
    max-width: 720px;
  }
}

@media only screen and (min-width: 992px) {
  .customers-logo-item {
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .container-large {
    max-width: 960px;
  }
}

@media only screen and (min-width: 1200px) {
  .container-large {
    max-width: 1600px;
  }
}

@media only screen and (max-width: 576px) {
  .customers-logo-item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .footer-main-menu li {
    margin-bottom: 10px;
  }
}


.no-display{
  display: none;
}
