body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

header {
  z-index: 10;
}

.main-header {
  nav {
    min-height: 70px;
  }
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

h1, h2, h3, h4, h5, h6 {

}

p {
  margin: 1rem 0;
}

#navbarSupportedContent {
  max-width: 565px;
  .header-main-menu {
    list-style: none;
    margin: 0;
    li {
      padding: 25px 20px;
      a {
        display: inline-block;
        border-bottom: 4px solid $white-color;
        color: #000;
        position: relative;
        padding: 0 5px;
        &:hover {
          text-decoration: none;
          &:after {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            top: 49px;
            left: 0;
            height: 4px;
            background-color: $main-color;
          }
        }
      }
    }
    .current-menu-link-item {
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        top: 49px;
        left: 0;
        height: 4px;
        background-color: $main-color;
      }
    }
  }
}

