/* --== Front Page ==-- */
.occupation-section {
  background-color: #1c1c1c;
  .occupation-item {
    background-color: #333333;
    border-top: 3px solid $main-color;
  }
}

.our-different {
  background-color: $main-color;

}

.customers-section {
  .logo-item {
    margin-bottom: 10px;
    img {
      display: inline-block;
      filter: grayscale(100%);
    }
    & a:hover img {
      filter: grayscale(0);
    }
  }
}

.multirow {
  &:nth-child(even) {
    display: flex;
    flex-direction: row-reverse;
    .multirow-item {
      margin-left: auto !important;
    }
  }

}

.pricing-section {
  background-color: #1c1c1c;
  .pricing-item {
    background-color: $white-color;
    border-left: 3px solid $main-color;
    ul {
      li {
        &:before {
        content: '\f00c';
          font-family: FontAwesome;
          background-color: $main-color;
          padding: 5px;
          margin-bottom: 5px;
          margin-right: 5px;
          border-radius: 50%;
      }
      }
    }
  }
}

/* --== /Front Page ==-- */



/* --== /Contact Page ==-- */

.contact-information {
  background-image: url('../images/contact-information.jpg');
  height: 100%;
  background-size: cover;
  background-position: left;
  min-height: 200px;
  position: relative;
  @include image-darken-background;

  .contact-info-wrap {
    padding: 70px 80px;
    z-index: 1;
    color: $white-color;

    .list-group {
      list-style-type: none;

      li {
        position: relative;
        margin: 10px;

        a {
          color: $white-color;
          font-size: 18px;

          &.site {
            &:before {
              content: '';
              position: absolute;
              top: -1px;
              left: -45px;
              height: 34px;
              width: 34px;
              background: url('../images/css_sprites.png') -10px -10px;
            }
          }

          &.mail {
            &:before {
              content: '';
              position: absolute;
              top: 5px;
              left: -45px;
              width: 31px;
              height: 23px;
              background: url('../images/css_sprites.png') -112px -10px;
            }
          }

          &.phone {
            &:before {
              content: '';
              position: absolute;
              top: -1px;
              left: -42px;
              height: 28px;
              width: 28px;
              background: url('../images/css_sprites.png') -64px -10px;
            }
          }

          &.map {
            &:before {
              content: '';
              position: absolute;
              top: -2px;
              left: -42px;
              width: 25px;
              height: 40px;
              background: url('../images/css_sprites.png') -10px -64px;
            }
          }
        }
      }
    }
  }
}

.contact-us-form {
  padding: 70px 60px;
  color: $black-color;

  .form-group {
    .contact-form {
      border-radius: 0;
      height: 50px;
      padding: 13px;

      &.message {
        height: 110px;
      }

      &:focus {
        border-color: $main-color;
        box-shadow: 0 0 2px $main-color;
      }
    }

    .form-check {
      margin-bottom: 5px;
      padding-left: 30px;

      .checkbox-label {
        font-weight: bold;
        margin-bottom: 5px;
      }

      .form-check-input {
        appearance: none;
        background-color: $white-color;
        border: 1px solid #ced4da;
        padding: 9px;
        border-radius: 0;
        display: inline-block;
        position: absolute;
        top: -3px;
        left: 20px;
        &:focus {
          outline: none;
        }
        &:checked {
          background-color: $main-color;
          border: 1px solid $main-color;
          outline: none;
          &:after {
            content: '\2714';
            font-size: 15px;
            position: absolute;
            top: -2px;
            left: 3px;
            color: $black-color;
          }
        }
      }
    }
  }

  .contact-btn {
    height: 50px;
    width: 250px;
    background-color: $black-color;
    color: $white-color;
    text-transform: uppercase;
    border-radius: 0;
    position: relative;
    margin-top: 10px;
    &:after {
      content: '';
      position: absolute;
      top: 16px;
      right: 40px;
      width: 10px;
      height: 17px;
      background: url('../images/css_sprites.png') -10px -124px;
    }
  }
}
