/* --== /Contact Page ==-- */

@media only screen and (max-width: 1200px) {
  .contact-information {
    .contact-info-wrap {
      padding: 70px 20px;
    }
  }
  .contact-us-form {
    padding: 70px 20px;
  }
}

@media only screen and (max-width: 992px) {
  .header-main-menu {
    li {
      width: 100%;
      a {
        width: 100%;
        text-align: center;
      }
    }
    .current-menu-item {
      border: 0;
      background-color: rgba($main-color, .5);
    }
  }
}

@media only screen and (min-width: 576px) {
  .customers-logo-item {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .container-large {
    max-width: 540px;
  }
}

@media only screen and (min-width: 768px) {
  .customers-logo-item {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .container-large {
    max-width: 720px;
  }
}

@media only screen and (min-width: 992px) {
  .customers-logo-item {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .container-large {
    max-width: 960px;
  }
}

@media only screen and (min-width: 1200px) {
  .container-large {
    max-width: 1600px;
  }
}

@media only screen and (max-width: 576px) {
  .customers-logo-item {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .footer-main-menu {
    li {
      margin-bottom: 10px;

    }
  }
}